** Заказ оплачен! **

🆔 **Id события:** {{.EventUuid}}
🆔 **Id заказа:** {{.OrderUuid}}
🆔 **Id заказчика:** {{.UserUuid}}
🆔 **Id транзакции:** {{.TransactionUuid}}
⏱ **Способ оплаты:** {{.PaymentMethod}}
📝 **Тип (справочно)** {{.Type}}
